
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
          <div class="image">
             <!-- added a thumbnail that you can click on-->
            <p>{% if post.thumbnail %}
            <img class="thmb" src="{{ post.thumbnail }}"/>
            {% else %}
            <img class="thmb" src="http://placehold.it/780x480&text=No+Thumbnail+available"/>
            {% endif %}</p>
           <!--end of thumbnail statement-->
         </div>
         <div class="post-info">
             <span class="post-meta">{{ post.date | date: date_format }}</span> <!-- moved the date here-->
            <h3>{{ post.title | escape }}</h3> <!-- added a heading around this to separate it-->
             <!-- show the description -->
            <p>{%- if post.description -%}
              {{ post.description }}
            {%- endif -%}</p>
          </div>
          </a>
        </h3>
        <!--{%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}-->
      </li>