
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
             <!-- added a thumbnail that you can click on-->
            <p>{% if post.thumbnail %}
            <img class="thmb" src="{{ post.thumbnail }}"/>
            {% else %}
            <img class="thmb" src="http://placehold.it/780x480&text=No+Thumbnail+available"/>
            {% endif %}</p>
           <!--end of thumbnail statement-->
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
        <!-- show the description -->
        {%- if post.description -%}
          {{ post.description }}
        {%- endif -%}
      </li>