
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <h3>
          <a class="post-link c-slide__content" href="{{ post.url | relative_url }}">
          <div class="image">
            <figure class="c-slide__image-wrapper">
             <!-- added a thumbnail that you can click on-->
            <p>{% if post.thumbnail %}
            <img class="thmb c-slide__image" src="{{ post.thumbnail }}"/>
            {% else %}
            <img class="thmb c-slide__image" src="http://placehold.it/780x480&text=No+Thumbnail+available"/>
            {% endif %}</p>
           <!--end of thumbnail statement-->
            </figure>
         </div>
         <div class="post-info">
          <div class="txt-box">
            <p class="cat"> {%- if post.category -%}
              {{ post.category }}
            {%- endif -%}<p>
             <span class="post-meta">{{ post.date | date: date_format }}</span> <!-- moved the date here-->
            <h3 class="p-title">{{ post.title | escape }}</h3> <!-- added a heading around this to separate it-->
             <!-- show the description -->
            <p class="des">{%- if post.description -%}
              {{ post.description }}
            {%- endif -%}</p>
          </div>
        </div>
          </a>
        </h3>
        <!--{%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}-->
      </li>