
<div id="share-bar">

    <div class="share-buttons">
        <a  href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}"
            target="_blank"
            title="Share on Facebook" >
            <i class="fa fa-facebook share-button"></i>
        </a>
        <script> var a = "{{ site.url }}{{ post.thumbnail }}" </script>
        <a  href="http://pinterest.com/pin/create/button/?url={{ site.url }}{{ site.baseurl }}{{ page.url }}&amp;media={{ page.thumbnail }}&amp;description={{ page.title }}"
           target="_blank"
            title="Share on Pinterest" >
            <i class="fa fa-pinterest-p share-button"></i>
        </a>

        <a  href="mailto:?subject=You have to see this...&amp;body=I just found this story on fashionisa, check it out: {{page.title}} 
        {{ site.url }}{{ site.baseurl }}{{ page.url }}"
            title="Share via Email" >
            <i class="fa fa-envelope share-button"></i>
        </a>
    </div>

</div>