<ul class="social-media-list">
  
  <!--{%- if site.facebook_username -%}<li><a href="https://www.facebook.com/{{ site.facebook_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#facebook' | relative_url }}"></use></svg> <span class="username">{{ site.facebook_username| escape }}</span></a></li>{%- endif -%}-->

  {%- if site.instagram_username -%}<li><a href="https://instagram.com/{{ site.instagram_username| cgi_escape | escape }}" target="_blank" class="fab fa-instagram"><span class="username"></span></a></li>{%- endif -%}


  {%- if site.pinterest_username -%}<li><a href="https://www.pinterest.com/{{ site.pinterest_username| cgi_escape | escape }}" target="_blank" class="fab fa-pinterest"><span class="username"></span></a></li>{%- endif -%}

  {%- if site.tiktok_username -%}<li><a href="https://tiktok.com/@fashionisa.blog" target="_blank"  class="fab fa-tiktok"></a></li>{%- endif -%}
</ul>
