/**
 * Site header
 */
.site-header {
  //border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 2.2; //$spacing-unit*1.865 originally
  background-color: white;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-left: 23%; 
 // margin-bottom: 0;
 // float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

//added this 
.site-title img {
  //changed width of photo
  max-width: 100%;
  width: 55%;
  position: center;
}

.site-nav {
 // float: right;
  line-height: $base-line-height * $base-font-size * 2.25;
  .trigger {
    position: center;
    margin-left: 150px;
    margin-right: 10px;
  }

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    //added font size stuff
  font-weight: bold;

  font-size: 1em;

  font-family: serif;

  text-transform: uppercase;

    // Gaps between nav items, but not on the last one
   // &:not(:last-child){
      margin-right: 3%;
   // }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px; 
    right: $spacing-unit / 2;
    background-color: white;
    //border: 0.5px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      margin-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
        //made the icon bigger
        width: 30px;
        height: 30px;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-left: 0;
      margin-left: 0;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }

  }
}


/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
  //added a background color
  color: white;
  background-color: black;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.wb-list,
.social-media-list {
  list-style: none;
 // margin-left: 0;
}

//added this
.wb-list { //grid flex display so stuff moves to the next line
  display: grid-flex;
  grid-template-columns: auto auto;
  margin-left: 25px;
  margin-top: 5px;
  flex-wrap: wrap;
}

//added this
.social-media-list li {
  display: inline-block;
  &:not(:first-child){
       margin-left: 25px; //changed from 25 to 20
  }
}

//need to wrap every element reeee

li .u-email {
  margin-left: 25px;
 // position: absolute;
}

.eletter {
  list-style: none;
}


.footer-col-wrapper {
  @include relative-font-size(0.9375);
  //changed the color
  color: white;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
  //added color
  color: white;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
  //added a margin
  margin-right: 50px;
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  //@include relative-font-size(2);
  //added this stuff so it is like the other page types
   @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  //text-align
text-align: center;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
//added line after
  display: grid;

  grid-template-columns: 1fr auto 1fr;

  grid-template-rows: 35px 0;

  grid-gap: 10px;


  font-family: serif;
}

.page-heading:after, .page-heading:before{
  content: " ";

  margin-top: 20px;
  margin-bottom: 6px;
  display: block;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.post-list-heading {
  @include relative-font-size(1.75);
  //added a specific font family
  font-family: serif;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;
//text-align
text-align: center;
  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }

  //added line after
  display: grid;

  grid-template-columns: 1fr auto 1fr;

  grid-template-rows: 35px 0px;

  grid-gap: 10px;

  font-family: serif;
}

.post-title:after, .post-title:before{
  content: " ";

  margin-top: 20px;
  margin-bottom: 6px;
  display: block;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

/**
 * Subscription Box
 */
#myBtn {

  border: none;

  background-color: white;

  font-weight: bold;

  font-size: 1em;

  font-family: serif;

}

#myBtn:hover{
     text-decoration: underline;
}

.modal {
  display: none; /* Hidden by default */

  position: fixed; /* Stay in place */

  z-index: 1;

  left: 0;

  top: 0;

  width: 100%;

  height: 100%; /* Full height */

  overflow: auto; /* Enable scroll if needed */

  background-color: rgb(0,0,0); /* Fallback color */

  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}



.modal-content {

  background-color: black;

  margin: 10vh auto; /* 35vh from the top and centered*/

 // padding: 40px;

  border: 1px solid white;

  width: 80%; 

  height: 70%;

  position: relative;

}

/* The Close Button */

.close {

  color: white;

  float: right;

  font-size: 20px;
  margin-right: 15px;

  font-weight: bold;

}



.close:hover,

.close:focus {

  color: #888;

  text-decoration: none;

  cursor: pointer;

}


//the colors need to be fixed so they look the same
a .ftxt {
  color: blue;
}



.modal form button a:hover {

  color: #888;

  text-decoration: none;

  cursor: pointer;

}



.modal form {

text-align: center;
//padding-top: 60px;
}

.modal form .subbox div {

  position: relative;

  display: inline-flex;
  text-align: center;

}



.modal form h2{
@include relative-font-size(1.625);

 // font-size: 6%;

  font-weight: bolder;
   color: white;

}



.modal form h3 {

  color: white;

  font-size: 10px;

  font-weight: bold;
 // overflow: wrap-text; //added this or somehow shrink text
// overflow: shrink-text;

}





.modal form input{

  max-width:100%;

  text-align: left;

  width: 220px;

// min-width: 100px;

  border: black solid 0.5px;

  height: 25px;

}

.modal form button{

  position: absolute;

  right:0;

  background-color: white;

  width: 35px;

  height: 25px;

  border-top: black solid 0.5px;

  border-right: black solid 0.5px;

  border-bottom: none;

  border-left: none;

}

symbol path {
  fill: white;
}

/**
 * Home Page
 */

.home {
  .latest-post .thmb {
    max-width: 100%;
    height: 400px;
  }


  .latest-post .post-link .post-info {
    background-color: white;
    height: 400px;
    color: black;
    text-align: left;
    .p-title {
        font-size: 1em;
        font-family: serif;
        font-weight: bold;
    }
    .des {
      font-size: 0.7em;
    }
    .txt-box {
      margin: 20px;
      .cat {
      font-size: 0.6em;
      }
    }
  }

  .post-list .thmb {
    height: 200px;
    max-width: 100%;
  }

  .latest-post {
    list-style: none;
  }
  .post-list { //need to style the titles at the bottom of the posts
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    //added gaps between posts
    grid-column-gap: 4%;
    grid-row-gap: 4%;
  }

  //control the sizes and styles of each grid element
  .post-list li .post-info {
    width: fill;
    height: 250px;
    background-color: white;
    margin-top: -30px;
    color: black;
    text-align: left;
    .p-title {
        font-size: 0.75em;
        font-family: serif;
        font-weight: bold;
    }
    .des {
      font-size: 0.5em;
    }

    .txt-box {
      margin: 20px;
      padding-top: 30px;
      .cat {
        font-size: 0.5em;
      }
    }
  }

  @include media-query($on-palm) {
  //get rid of display lol
    .post-list {
      display: block;
    }

    .post-list li .post-link .post-info {
      //responsive width
      width: fill;
      height: 250px;
      padding-top: 20px;
      padding-bottom: 10px;
      text-overflow: wrap;
      .txt-box {
        margin: 20px;
      }
    }

    .post-list li .post-link .thmb {
      //responsive height
      width: 100%;
      height: auto;
      margin-bottom: -20px;
    }
  }

  .latest-post .post-link { //only applies to the latest post
    display: grid;
    grid-template-columns: 1fr 0.5fr;
  }

  @include media-query($on-palm) {

    .latest-post .post-link {
      display: inline;
    }

    .latest-post .post-link .post-info {
      //responsive width
      width: fill;
      height: 200px;
      //fit the text into the box
      padding-top: 20px;
      padding-bottom: 60px;
      .txt-box{
        margin: 20px;
      }
    }

    .latest-post .post-link .thmb {
      //responsive height
      width: 100%;
      height: auto;
      margin-bottom: -20px;
    }
  }
}

.home-second {

#myList li{ display:none;
}
#loadMore {
  color: white;
  background-color: black;
  border: none;
  font-size: 1.2em;
  font-stype: serif;
  padding: 10px;
  width: 100%;
}

 .post-link {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: -45px;
  }

  .post-link .thmb {
    max-width: 100%;
    height: 200px;
    border-bottom: 1px solid $grey-color-light;
  }

  .post-link .post-info {
    background-color: white;
    height: 200px;
    color: black;
    text-overflow: wrap;
    text-align: left;
    border-bottom: 1px solid $grey-color-light;
    .p-title {
        font-size: 0.75em;
        font-family: serif;
        font-weight: bold;
    }
    .des {
      font-size: 0.5em;
    }

    .txt-box {
      padding: 10px;
      .cat {
        font-size: 0.5em;
      }
    }
  }

  @include media-query($on-palm) {
  //get rid of display lol
    .post-link {
      display: block;
      margin-bottom: 0;
    }

    .post-list li .post-link .post-info {
      //responsive width
      width: fill;
      height: 250px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: none;
      text-overflow: wrap;
      .txt-box {
        margin: 20px;
      }
      margin-top: -20px;
    }

    .post-list li .post-link .thmb {
      //responsive height
      width: 100%;
      height: auto;
      border-bottom: none;
    }
  } 
}


.post-link:hover {
  text-decoration: none;
}


//search button
#srch {
  color: black;
  border: none;
  background-color: white;
}


/*
 *Search Page 
 */

#search-input {
    width: 80%;
    position: center;
    margin-left: 11%;
}

#results-container {
//move results down
  margin-top: 10px;
  list-style: none;
}

#results-container li {
//first 5 children 
  &:not(:nth-child(-n+5)){
      display:none;
  }
}

#load, #res {
  display: none;
  margin-top: 15px;
}

#load {
  color: white;
  background-color: black;
  border: none;
  font-size: 1.2em;
  font-stype: serif;
  padding: 10px;
  width: 100%;
}

#no-result {
  font-weight: bolder;
}