---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      {%- if post.category == "Fashion"-%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
        <!-- added a thumbnail if statement-->
        <p>{% if post.thumbnail %}
          <img src="{{ post.thumbnail }}" style="height: 280px" align="center" />
        {% else %}
        <img src="http://placehold.it/780x480&text=No+Thumbnail+available"
        style="height: 280px" align="center" />
        {% endif %}</p>
      <!--end of thumbnail statement-->
      </li>
      {%- endif -%}
      {%- endfor -%}
    </ul>

  <!--  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}

</div>