---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <!--{{ page.list_title | default: "The Latest" }}-->
    <div class="latest-post"> <!-- created a function to write the post list(s) -->
      {%- for post in site.posts limit: 1 -%}
      {% include make_postlist.html %}
      {%- endfor -%}
    </div>
    <h2 class="post-list-heading">Recent Posts</h2>
    <ul class="post-list">
      <!-- count how many posts I have left to fill-->
      {%- assign num_posts = 6 -%}
      <!--second_recent tells us if we've gotten to the second most recent post-->
      {%- assign second_recent = false -%}
      <!--added a limit here for the 6 recent posts I will display under the latest-->
      {%- for post in site.posts limit: 7 -%} 
      {%- if second_recent == true -%}
        {%- include make_postlist.html -%}
        {%- assign num_posts = num_posts | minus: 1 -%}
      {%- else -%}
      {%- assign second_recent = true -%} <!--is this how you change a variable?? or only assigning it?-->
      {%- endif -%}
      {%- endfor -%}
      <!-- if we haven't filled the posts that should be filled-->
      {%- for i in (1..num_posts) -%}
      <p> INSERT POST HERE</p>
      {%- endfor -%}

    </ul>

  <!--  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}

</div>
