---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>
  <div class="related-posts">
    <h2>RELATED POSTS</h2>
    <!--need to format and test for bugs-->
      <!--include thumbnail image, title, and links to that page and eveerything-- but change the format-should i do all the related posts or just 3? - meh all of them and a scroll left right <> thing-->
      <!--loop through all the posts on the website-->
      {%- for post in site.posts -%} 
       {%- assign tg = false -%} <!-- reset to false for the next post-->
       {%- if post != page -%} <!-- make sure the post and the page aren't the same-->
        {%- for x in post.tags -%} <!--go through all of the tags on this page-->
          {%- if page.tags contains x -%} 
            {%- assign tg = true -%} <!-- need to format this-->
            <!-- we only need to know if the post has any of the tags that are in the current article,, hence the break-->
            {%- break -%}
          {%- endif -%}
        {%- endfor -%}
        {%- if tg == true -%}
          {% include make_postlist.html %}
        {%- endif -%} 
        {%- endif -%}
    {%- endfor -%}
    <!-- if there are no tags that match/not enough posts, then don't include this section or do 3 most recent posts of that categoryyyy - then my related posts thing will be longerrr - need to have lots and lots of tagsss - alternatively I could just hide the related posts section if no tags relate??? idk-->
  </div>

  <div class="rec-posts">
    <h2>RECENT POSTS</h2>
  {%- for post in site.posts limit: 3 -%} 
      {% include make_postlist.html %}
  {%- endfor -%}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
